/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.7);
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background-color: #e0e0e0;
  border-radius: 15px;
  box-shadow: 5px 5px 15px #bcbcbc, -5px -5px 15px #ffffff;
  transition: font-size 0.5s ease;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #e0e0e0; /* Same background color as the search bar */
  border-radius: 10px; /* Same border-radius as the search bar */
  box-shadow: 5px 5px 15px #bcbcbc, -5px -5px 15px #ffffff; /* Same box-shadow as the search bar */
}

.search-bar {
  padding: 10px;
  font-size: 18px;
  width: 300px;
  margin-right: 10px;
  border: none;
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #bcbcbc, -5px -5px 15px #ffffff;
  outline: none;
}

.search-button {
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #e0e0e0; /* Same background color as the search bar */
  color: #333; /* Adjusted text color */
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 15px #bcbcbc, -5px -5px 15px #ffffff;
}

.search-button span {
  font-weight: bold;
  margin-right: 5px;
}
